<div class="content__access">

	{% if 'username' not in session %}
	
		<a class="btn btn--primary" href="{{ url_for('auth.showLogin') }}">Login</a>

	{% else %}

		<a class="btn btn--primary" href="{{ url_for('views.newItem') }}">Add New Item</a>

		<a class="btn btn--primary" href="{{ url_for('auth.disconnect') }}">Logout</a>
		
		<div class="userinfo">
			<img class="userinfo__img" src="{{userinfo['picture']}}" alt="{{userinfo['username']}}" width="44">
			<span class="userinfo__name">{{userinfo['username']}}</span>
		</div>

	{% endif %}	

</div>