{% extends "wrapper.html" %}
{% block content %}

			<div class="content__head grid">
				<h2 class="content__title grid__cell">Delete Item</h2>

				{% include "access.html" %}

			</div>
			<h3>Are you sure you want to delete item: "{{item.name}}"?</h3>
			<form class="form" action="{{ url_for('views.deleteItem', item_id=item.id) }}" method="post">
				<input class="btn btn--secondary-reverse" type="submit" name="submit" value="Delete">
				<a class="btn btn--secondary-reverse" href="{{ url_for('views.showForms') }}">Cancel</a>
			</form>

{% endblock %}