{% extends "wrapper.html" %}
{% block content %}

			<div class="content__head grid">
				<h2 class="content__title grid__cell">Edit item: "{{item.name}}"</h2>

				{% include "access.html" %}

			</div>

				<form class="form" action="{{ url_for('views.editItem', item_id=item.id) }}" method="post">
					<div class="form__row">
						<label class="label" for="name">Name:</label>
						<input class="input" type="text" name="name" placeholder="{{item.name}}">
					</div>
					<div class="form__row">
						<label class="label" for="description">Description:</label>
						<textarea class="textarea" type="text" name="description">{{item.description}}</textarea>
					</div>
					<div class="form__row">
						<label class="label" for="material">Material:</label>
						<input class="input" type="text" name="material" placeholder="{{item.material}}">
					</div>
					<div class="form__row">
						<label class="label" for="year">Year:</label>
						<input class="input" type="text" name="year" placeholder="{{item.year}}">
					</div>
					<div class="form__row">
						<label class="label" for="image_url">URL:</label>
						<input class="input" type="text" name="image_url" placeholder="{{item.image_url}}">
					</div>
						
					{% if item.medium.name == 'Video' or item.medium.name == 'video' %}
					
					<div class="form__row">
						<label class="label" for="video_url">Video URL:</label>
						<input class="input" type="text" name="video_url" placeholder="{{item.video_url}}">
					</div>
						
					{% endif %}

					<input class="btn btn--secondary-reverse" type="submit" name="submit" value="Update">
					<a class="btn btn--secondary-reverse" href="{{ url_for('views.showForms') }}">Cancel</a>
				</form>

{% endblock %}