{% extends "wrapper.html" %}
{% block content %}

			<div class="content__head grid">
				<h2 class="content__title grid__cell">Recent Items:</h2>

				{% include "access.html" %}

			</div>
			
			<div class="masonry">
				
				{% for item in items %}

				<div class="masonry__brick">
					<a href="{{ url_for('views.showItem', medium_name=item.medium.name, item_id=item.id) }}">
						<img class="masonry__img" src="{{item.image_url}}" alt="{{item.name}}">
					</a>
				</div>

				{% endfor %}

			</div>
	
{% endblock %}	