{% extends "wrapper.html" %}
{% block content %}

			<div class="content__head grid">
				<h2 class="content__title grid__cell">{{item.medium.name}}</h2>

				{% include "access.html" %}

			</div>
			
			<div class="content__body">

				<div class="grid">
					<div class="grid__cell">
						<img src="{{item.image_url}}" width="450">
					</div>
					<div class="grid__cell">
						<div class="item__container">
							<h3>{{item.name}}</h3>
							<p>{{item.description}}</p>

							{% if item.medium.name == 'Video' %}
							
							<a class="btn btn--primary" href="{{item.video_url}}" target="_blank">Watch video</a>

							{% endif %}

							{% if item.user_id == userinfo['user_id'] %}
							
							<a class="btn btn--secondary-reverse" href="{{ url_for('views.editItem', medium_name=item.medium.name, item_id=item.id) }}">Edit</a>
							<a class="btn btn--secondary-reverse" href="{{ url_for('views.deleteItem', medium_name=item.medium.name, item_id=item.id) }}">Delete</a>
							
							{% endif %}

							
						</div>	
					</div>
				</div>

			</div>

{% endblock %}