{% extends "wrapper.html" %}
{% block content %}

			<div class="content__head grid">
				<h2 class="content__title grid__cell">Add a new item to Formific!</h2>

				{% include "access.html" %}

			</div>

			<form class="form" action="{{ url_for('views.newItem') }}" method="post">
				<div class="form__row">
					<label class="label" for="name">Name:</label>
					<input class="input" type="text" name="name">
				</div>
				<div class="form__row">
					<label class="label" for="description">Description:</label>
					<textarea class="textarea" type="text" name="description"></textarea>
				</div>
				<div class="form__row">
					<label class="label" for="material">Material:</label>
					<input class="input" type="text" name="material">
				</div>
				<div class="form__row">
					<label class="label" for="year">Year:</label>
					<input class="input" type="text" name="year">
				</div>
				<div class="form__row">
					<label class="label" for="image_url">Image URL:</label>
					<input class="input" type="text" name="image_url">
				</div>
				<div class="form__row">
					<label class="label" for="video_url">Video URL:</label>
					<input class="input" type="text" name="video_url">
				</div>
				<div class="form__row">
					<label class="label" for="medium">Medium:</label>
					<select class="select" name="medium">

						{% for medium in media %}

						<option value="{{medium.id}}">{{medium.name}}</option>

						{% endfor %}

					</select>
				</div>
				<input class="btn btn--secondary-reverse" type="submit" name="submit" value="Create">
			</form>

{% endblock %}